body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 30%)) 200px;
    grid-column-gap: 1rem;
    grid-row-gap: 10px;
    grid-template-rows: 200px 200px 200px ;
    grid-auto-rows: 200px;
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}
.container > div:nth-child(even){
    background-color: skyblue;
}